@import "tailwindcss" ;


input,
select {
  border: 1px solid black;
  display: flex;
  text-align: center;
  padding: 2px;
}

label {
  width: 30%;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(13, 13, 145) !important;
  font-size: 25px;
  /* make them a bit bigger if you want */
}

.headerBtn {
  /* @apply bg-blue-700 hover:bg-blue-900 font-bold p-3.5 rounded-2xl text-white pr-4 pl-4 cursor-pointer */
 @apply bg-gradient-to-r from-blue-500 to-indigo-600 
         hover:from-blue-600 hover:to-indigo-700
         text-white font-medium tracking-wide
         px-6 py-3 rounded-xl
         shadow-lg hover:shadow-xl
         transition-all duration-300 ease-in-out
         transform hover:scale-105 active:scale-95
         cursor-pointer;
}

.complete {
  @apply border border-3 border-green-600 text-green-900
   shadow-lg hover:shadow-2xl
         transition-all duration-300 ease-in-out
         transform hover:scale-105 active:scale-95
         cursor-pointer;
}

.todo {
  @apply border border-3 border-red-600 text-red-900
   shadow-lg hover:shadow-2xl
         transition-all duration-300 ease-in-out
         transform hover:scale-105 active:scale-95
         cursor-pointer;
}

.inprogress {
  @apply border border-3 border-fuchsia-600 text-fuchsia-950
   shadow-lg hover:shadow-2xl
         transition-all duration-300 ease-in-out
         transform hover:scale-105 active:scale-95
         cursor-pointer;
}

.logo {
  @apply h-28 w-40
}

.taskcardProgress {
  @apply text-fuchsia-950
}
.taskcardProgress button {
  @apply hover:bg-fuchsia-900 hover:text-white border border-fuchsia-950
}

.taskcardComplete {
  @apply text-green-900
}
.taskcardComplete button {
  @apply hover:bg-green-900 hover:text-white
}

.taskcardTodo {
  @apply text-red-900
}
.taskcardTodo button {
  @apply hover:bg-red-900 hover:text-white
}


/* TaskCard */
.fullImage{
  @apply  w-5xl
}


/* Body */
.filterbtn{
  @apply transition-all duration-300 ease-in-out
         transform hover:scale-105 active:scale-95
         cursor-pointer  px-6 py-3 rounded-xl bg-blue-700 text-white;
}
.filtodo{
  @apply bg-red-700 text-white
}
.filinprogress{
  @apply bg-fuchsia-700 text-white border border-fuchsia-900

}

.filcomplete{
@apply bg-green-700 text-white
}
